@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

.main-title{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}