@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.toolbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.05), 0 3px 7px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.02);
    .logo {
        font-family: "Poppins", sans-serif;
        padding: 20px;
    }
    .toolbar-item {
        padding: 20px;
        transition: 0.2s;
        border-radius: 5px;
    }
    .toolbar-item:hover {
        background-color: #eee;
    }

    @media only screen and (max-width: 600px) {
        .logo {
            display: none;
        }
    }
}
